@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap');

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 
}

.content{
    width: 90%;
    margin-top: 30px;
}

.header-section{
    display: grid;
    place-items: center;
}

.big-heading{
    font-size: 32px;
    font-family: 'Amiri', serif;
    color: #293462;
}

.search-form{
    display: grid;
    place-items: center;
    margin: 15px;
}

.searchbar-wrapper{
    display: flex;
    align-items: center;
    border: 2px solid  #293462;
    border-radius: 10px;
    width: 50%;
    padding: 0 10px;
}

.searchbar{
    padding: 10px 5px;
    border-width: 0;
    width: 100%;
    border-radius: 10px;
    color:#293462;
    caret-color: #293462;
}

.searchbar:focus{   
    outline: none;
}

.submit{
    padding: 10px 20px;
    margin-right: -10px;
    border: none;
    color: rgb(173, 173, 173);
    background-color: #293462;
    font-weight: bold;
    border-radius: 0 5px 5px 0 ;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.submit:hover{
    color: white;
    padding-left: 25px;
    text-decoration: underline;
}

.main-ayah{
    display: flex;
    justify-content: center;
}

.ayah-wrapper{
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    background: rgb(3,13,51);
    background: linear-gradient(90deg, rgba(3,13,51,1) 25%, rgba(41,52,98,1) 100%);
    color: #D9D9D9;
}

.ayah{
    font-size: 25px;
    text-align: center;
    font-family: 'Amiri', serif;
}

.main-button-wrapper{
    margin: 70px 0;
    display: flex;
    justify-content: center;
}

.btn{
    padding: 12px 32px;
    background: rgb(0, 29, 146);
    color: #D9D9D9;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.btn:hover{
    background: linear-gradient(90deg, rgb(0, 48, 240) 25%, rgb(0, 17, 85) 100%);
    transform: scale(1.1);
}